@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #ceff48;
  --secondary-color: #d3b4fe;
  --tertiary-color: #d2fd45;
  --dark: #21212f;
  --light: #fefefe;
}
